.h-page {
  opacity: 100;
  padding-top: 15px; }

header .left {
  padding-left: 80px; }

.container {
  margin: 0 auto; }

.container::before,
.container::after,
.clearfix::before,
.clearfix::after {
  content: '';
  display: table; }

.container::after,
.clearfix::after {
  clear: both; }

html {
  -webkit-text-size-adjust: 100%; }

.wrapper {
  overflow: hidden; }

.r-page {
  margin-top: 25px; }
  .r-page .button-center .btn {
    background-color: #0091ea; }
  .r-page .button-center .btn:hover {
    background-color: #e99a80; }

.authorization-page .button-center .btn {
  background-color: #0091ea; }

.authorization-page .button-center .btn:hover {
  background-color: #e99a80; }

body .fixed-action-btn {
  left: 78%;
  bottom: 13px; }

body div#modal2.modal.open {
  width: 450px;
  height: 210px; }

body div#modal3.modal.open {
  width: 450px;
  height: 700px; }

.chat-page .rooms {
  background-color: #004d40;
  color: #fff;
  height: 82px;
  padding: 0 150px 0;
  text-align: center; }
  .chat-page .rooms a {
    color: #fff; }
    .chat-page .rooms a:hover {
      text-decoration: underline; }
  .chat-page .rooms #tabs {
    padding-top: 5px; }
  .chat-page .rooms #tabs-two {
    padding-top: 5px; }
    .chat-page .rooms #tabs-two .fixed-action-btn {
      width: 63px; }

.chat-page .panel-heading {
  color: #fff;
  background-color: #004d40;
  padding: 5px; }

.chat-page .row {
  margin-bottom: auto; }

.chat-page div .chat {
  float: left;
  width: 85%;
  border: 1px solid #bababa; }
  .chat-page div .chat .panel-body {
    overflow: auto;
    height: 425px;
    padding: 0 18px 0; }
  .chat-page div .chat .panel-footer {
    padding: 15px 20px 0; }
    .chat-page div .chat .panel-footer #block1 {
      float: left;
      width: 94%; }
    .chat-page div .chat .panel-footer #block2 {
      float: left;
      width: 6%; }
      .chat-page div .chat .panel-footer #block2 button {
        background-color: #0091ea;
        padding: 0 20px 0;
        border-radius: 60px; }
        .chat-page div .chat .panel-footer #block2 button:hover {
          background-color: #e99a80; }

.chat-page div .online {
  float: left;
  width: 15%;
  border: 1px solid #bababa;
  text-align: center; }
  .chat-page div .online .panel-body {
    overflow: auto;
    height: 497px;
    padding: 0 18px 0; }

.s-page h3 {
  text-align: center; }

.s-page .button-center {
  text-align: center; }
  .s-page .button-center .btn {
    background-color: #0091ea; }
    .s-page .button-center .btn:hover {
      background-color: #e99a80; }

.consultation-page h3 {
  text-align: center; }

.consultation-page ul li a:hover {
  color: #0091ea;
  text-decoration: underline; }

.consultation-page .search-consultation {
  padding: 0 200px; }
  .consultation-page .search-consultation div .input-field, .consultation-page .search-consultation div .col, .consultation-page .search-consultation div .s8 {
    width: 96%; }

/*teacher pages*/
.teacher-consultation-page h3 {
  text-align: center; }

.teacher-consultation-page ul li .collection-name {
  width: 50%; }

.teacher-consultation-page ul li .collection-date {
  float: right;
  width: 50%; }

.teacher-consultation-page .search-consultation {
  padding: 0 200px; }
  .teacher-consultation-page .search-consultation div .input-field, .teacher-consultation-page .search-consultation div .col, .teacher-consultation-page .search-consultation div .s8 {
    width: 96%; }

.teacher-consultation-page div .horizontal {
  float: right; }

body div#modal1 .modal-content {
  padding: 10px; }

body div#modal1 button {
  float: right;
  background-color: #0091ea; }
  body div#modal1 button:hover {
    background-color: #e99a80; }

body .fixed-action-btn {
  left: 78%;
  bottom: 13px; }

body div#modal2.modal.open {
  width: 450px;
  height: 210px; }

body div#modal3.modal.open {
  width: 405px;
  height: 500px; }

body div#modal3 .modal-content .users {
  padding-bottom: 15px; }

body div#modal3 .modal-content .groups {
  padding-top: 25px; }

.teacher-chat-page .rooms {
  background-color: #004d40;
  color: #fff;
  height: 82px;
  padding: 0 150px 0;
  text-align: center; }
  .teacher-chat-page .rooms a {
    color: #fff; }
    .teacher-chat-page .rooms a:hover {
      text-decoration: underline; }
  .teacher-chat-page .rooms #tabs {
    padding-top: 5px; }
  .teacher-chat-page .rooms #tabs-two {
    padding-top: 5px; }
    .teacher-chat-page .rooms #tabs-two .fixed-action-btn {
      width: 63px; }

.teacher-chat-page .panel-heading {
  color: #fff;
  background-color: #004d40;
  padding: 5px; }

.teacher-chat-page .row {
  margin-bottom: auto; }

.teacher-chat-page div .chat {
  float: left;
  width: 85%;
  border: 1px solid #bababa; }
  .teacher-chat-page div .chat .panel-body {
    overflow: auto;
    height: 425px;
    padding: 0 18px 0; }
  .teacher-chat-page div .chat .panel-footer {
    padding: 15px 20px 0; }
    .teacher-chat-page div .chat .panel-footer #block1 {
      float: left;
      width: 94%; }
    .teacher-chat-page div .chat .panel-footer #block2 {
      float: left;
      width: 6%; }
      .teacher-chat-page div .chat .panel-footer #block2 button {
        background-color: #0091ea;
        padding: 0 20px 0;
        border-radius: 60px; }
        .teacher-chat-page div .chat .panel-footer #block2 button:hover {
          background-color: #e99a80; }

.teacher-chat-page div .online {
  float: left;
  width: 15%;
  border: 1px solid #bababa;
  text-align: center; }
  .teacher-chat-page div .online .panel-body {
    overflow: auto;
    height: 497px;
    padding: 0 18px 0; }

/*admin pages*/
.admin-consultation-page h3 {
  text-align: center; }

.admin-consultation-page .search-consultation {
  padding: 0 200px; }
  .admin-consultation-page .search-consultation div .input-field, .admin-consultation-page .search-consultation div .col, .admin-consultation-page .search-consultation div .s8 {
    width: 96%; }

.admin-consultation-page ul li a:hover {
  color: #0091ea; }

body div#modal .modal-content {
  padding: 10px; }

body div#modal button {
  background-color: #0091ea; }
  body div#modal button:hover {
    background-color: #e99a80; }

.admin-add-groups-page h3 {
  text-align: center; }

.admin-add-groups-page .search-consultation {
  padding: 0 200px; }
  .admin-add-groups-page .search-consultation div .input-field, .admin-add-groups-page .search-consultation div .col, .admin-add-groups-page .search-consultation div .s8 {
    width: 96%; }

.admin-add-groups-page ul .collection, .admin-add-groups-page ul .collection-item.avatar {
  min-height: 59px;
  padding-left: 15px; }

.admin-add-groups-page ul li a:hover {
  color: #0091ea; }

.admin-add-groups-page ul li .second-modal {
  margin-right: 100px; }

body div#modal-group1 {
  width: 34%;
  text-align: center; }
  body div#modal-group1 .modal-content {
    padding: 16px; }
    body div#modal-group1 .modal-content .row, body div#modal-group1 .modal-content .col.s6 {
      width: 100%; }
  body div#modal-group1 button {
    background-color: #0091ea; }
    body div#modal-group1 button:hover {
      background-color: #e99a80; }

.admin-add-users-page h3 {
  text-align: center; }

.admin-add-users-page .search-consultation {
  padding: 0 200px; }
  .admin-add-users-page .search-consultation div .input-field, .admin-add-users-page .search-consultation div .col, .admin-add-users-page .search-consultation div .s8 {
    width: 96%; }

.admin-add-users-page ul li a:hover {
  color: #0091ea; }

.admin-add-users-page ul li .second-modal {
  margin-top: 30px; }

body div#modal-users1 {
  max-height: 80%;
  width: 58%; }
  body div#modal-users1 .modal-content {
    padding: 16px; }
  body div#modal-users1 button {
    float: right;
    background-color: #0091ea; }
    body div#modal-users1 button:hover {
      background-color: #e99a80; }
