.admin-consultation-page {

  h3 {
    text-align: center;
  }

  .search-consultation {
    padding: 0 200px;

    div {
      .input-field, .col, .s8 {
        width: 96%;
      }
    }
  }

  ul {
    li {
      a {
        &:hover {
          color: #0091ea;
        }
      }
    }
  }

}

body {
  div#modal {
    .modal-content {
      padding: 10px;
    }
    button {
      background-color: #0091ea;
      &:hover {
        background-color: #e99a80;
      }
    }
  }
}