.chat-page{
  .rooms{
    background-color: #E8AB73;
    padding: 15px;
    text-align: center;
    a{
      color: #000;
      &:hover{
        color: #7e57c2;
        text-decoration: underline;
      }
    }
    #tabs ul {
      margin-left: 0;
      padding-left: 0;
      display: inline;
    }

    #tabs ul li {
      margin-left: 0;
      margin-bottom: 0;
      padding: 2px 15px 5px;
      border: 1px solid #7e57c2;
      list-style: none;
      display: inline;
    }

    #tabs ul li.here {
      border-bottom: 1px solid #ffc;
      list-style: none;
      display: inline;
    }
  }
  .panel-heading{
    background-color: #82D179;
    padding: 5px;
  }
  div .chat{
    float: left;
    width: 85%;

    border: 1px solid #bababa;
    border-radius: 5px;
    padding: 15px;
    .panel-footer{
      #block1{
        float: left;
        width: 94%;

        //margin-right: 15px;
      }
      #block2{
        float: left;
        width: 6%;
        button{
          padding: 0 20px 0;
          border-radius: 60px;
          &:hover{
            background-color: #E8754C;
            //background-color: #E8E373;
          }
        }
      }
    }

  }
  div .online{
    float: left;
    width: 15%;

    border: 1px solid #bababa;
    border-radius: 5px;

    padding: 15px;

    text-align: center;
  }

}