.consultation-page {

  h3 {
    text-align: center;
  }

  ul {
    li {
      a {
        &:hover {
          color: #0091ea;
          text-decoration: underline;
        }
      }
    }
  }

  .search-consultation {
    padding: 0 200px;

    div {
      .input-field, .col, .s8 {
        width: 96%;
      }
    }
  }
}