.teacher-consultation-page {

  h3 {
    text-align: center;
  }

  ul {
    li {
      .collection-name {
        //float: left;
        width: 50%;
      }

      .collection-date {
        float: right;
        width: 50%;
      }
    }
  }

  .search-consultation {
    padding: 0 200px;

    div {
      .input-field, .col, .s8 {
        width: 96%;
      }
    }
  }

  div {
    .horizontal {
      float: right;
    }
  }
}

body {
  div#modal1 {
    .modal-content {
      padding: 10px;
    }
    button {
      float: right;
      background-color: #0091ea;
      &:hover {
        background-color: #e99a80;
      }
    }
  }
}
